/* lateral */
#lateral{
    width: 190px;
    margin-right: 20px;
}

#lateral ul a{
    font-size: 1em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: rgb(20, 19, 19);
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
    color: #a1a1a1;
    background: #f9f9f9 url(marcador.png) no-repeat left center;
    padding-left: 20px;
    font-size: 0.8em;
}

label{
    display: block;
    margin: 5px;
}

input{
    font-size: 0.9em;
    background-color: #fff;
    padding: 5px;
    width: 125px;
    margin: 5px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
    cursor: pointer;
}

input.submit:hover{
    color: #fff;
    background-color: #8a1033;
}

/* fim lateral */

#primario{
    width: 495px;
}

